@charset "UTF-8";
body {
	
 	background-image: url("https://media.istockphoto.com/vectors/leaves-frame-vector-id177492461?k=20&m=177492461&s=170667a&w=0&h=5bxc6h4vr9qaxfj7lpdZeOUS5WF4D5HeOnu_la-EqaI=");
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
	background-size: cover;
 
}
#missionstatement {
	text-align: center;
	font-family: "copperplate";
	font-size:35px;
}

h1 {
	color: black;
	text-shadow: 0 0 5px #008080, 0 0 5px #FFFFFF;
	text-align: center;
	font-family: "copperplate";
	font-size:55px;
	
	
}
h2{
	color: black;
	text-shadow: 0 0 5px #FFD700, 0 0 5px #FFFFFF;
	text-align: center;
	font-family: "copperplate";
	font-size:35px;
	
}
h4{
	color:white;
	text-shadow: 0 0 5px #008080, 0 0 5px #FFFFFF;
	font-size:15px;
	font-family:"Great Vibes";
		text-align: center;
}
img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  height:310px;
  width: 30%
}


li{
	color:white;
	text-shadow: 0 0 20px #000000, 0 0 5px #FFFFFF;
	text-align: center;
	font-family: "copperplate";
	font-size:19px;
	
}

.form-control {
	top: 6px;
	left: 8px;
	width: 200px;
	
}

.navbar-nav > li{
	
  padding-left:10px;
  padding-right:10px;
}


span{
	 padding-left:250px;
  padding-right:30px;
	text-align: center;
	font-family: "copperplate";
	font-size:35px;
} 

.form-group {
	display: flex;
	justify-content: center;
}
.form-row{
		color: black;
	text-shadow: 0 0 5px #FFD700, 0 0 5px #FFFFFF;
	text-align: center;
	font-family: "copperplate";
	font-size:35px;
	
}

p{
	color: black;
	text-shadow: 0 0 5px #FFD700, 0 0 5px #FFFFFF;
	text-align: center;
	font-family: "copperplate";
	font-size:35px;
}