@charset "UTF-8";
body {
	
 	
	background-image: url("https://images.ctfassets.net/zkw0qlnf0vqv/psycom_page_fid33047_asset_33040/1ea60296edb30f6055b7d809e16177e9/marijuana_cannabis_leaf_background?fm=webp&fit=thumb&q=65&w=864&h=576");
	background-position: center;
	background-repeat: no-repeat;
	height:740px;
	background-size: cover;
 
}


h1 {
	
	 	color: Gold;
	text-shadow: 0 0 5px #008080, 0 0 5px #FFFFFF;
	text-align: center;
	font-size:120px;
	font-family: "Audiowide", sans-serif;
	
}


h4{
	color:white;
	text-shadow: 0 0 5px #008080, 0 0 5px #FFFFFF;
	font-size:15px;
	font-family:"Great Vibes";
		text-align: center;
	
}
.navbar-brand{
	color:white;
	text-shadow: 0 0 5px #008080, 0 0 5px #FFFFFF;
	font-size:15px;
	font-family:"Great Vibes";
	text-align: center;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}


span{
	 padding-left:250px;
  padding-right:30px;
	text-align: center;
	font-family: "copperplate";
	font-size:35px;
} 

.form-control {
	top: 6px;
	left: 8px;
	width: 100px;
	
}

.form-group {
	display: flex;
	justify-content: center;
}

h3{
	color: white;
	font-family: "copperplate";
	font-size:27px;
}
