@charset "UTF-8";
body {
	
 	background-image: url("https://marketplace.canva.com/EAEthkBVLfQ/1/0/1600w/canva-blush-wave-desktop-wallpaper-drvq3zaYl2E.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
 
}


h1 {
	color: black;
	text-shadow: 0 0 5px #008080, 0 0 5px #FFFFFF;
	text-align: center;
	font-family: "copperplate";
	font-size:55px;
	
	
}

h4{
	color:white;
	text-shadow: 0 0 5px #008080, 0 0 5px #FFFFFF;
	font-size:15px;
	font-family:"Great Vibes";
		text-align: center;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}


span{
	padding-left:250px;
  	padding-right:30px;
	text-align: center;
	font-family: "copperplate";
	font-size:35px;
} 

.form-control {
	top: 6px;
	left: 8px;
	width: 100px;
	
}

.form-group {
	display: flex;
	justify-content: center;
}
td{
	color:white;
	font-weight: bold;
	text-shadow: 0 0 1px #008080, 0 0 1px #FFFFFF;
	font-size:20px;
	font-family:"Great Vibes";
		
}



a:link {
  color: white;
}

a:visited {
  color: green;
}

a:hover {
  background-color: white;
}

a:active {
  background-color: hotpink;
}

